# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# parcel-bundler cache (https://parceljs.org/)
.cache

lib/
coverage/

*.js.map
*.ts.map
*.d.ts
*.d.ts.map

.env

/dist/
